_ReSharper.*
_ReSharper.*/
.build/
.DS_Store
.idea
.idea/
.nuget/
.testPublish/
.vs
.vscode
.vscode/
[Bb]in/
[Dd]ebug/
[Dd]ebugPublic/
[Oo]bj/
[Oo]ut/
[Rr]elease/
[Rr]eleases/
*.*~
*.*sdf
*.cache
*.docstates
*.ipch
*.ncrunchsolution
*.pidb
*.psess
*.pyc
*.sln.docstates
*.sln.ide
*.suo
*.user
*.userosscache
*.userprefs
*.vsp
*DS_Store
*k10.csproj
*net45.csproj
*net451.csproj
artifacts/
bin
bin/
bld/
build/
global.json
logs/
msbuild.err
msbuild.log
msbuild.wrn
nuget.exe
nupkg/
obj
obj/
packages/
project.lock.json
PublishProfiles/
TestResults/
x64/
x86/
*.swp