@{
    ViewData["Title"] = "Change Password Confirmation";
}

<h2>Change Password Confirmation</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <p>
            Password has been changed successfully.
        </p>
    </div>
</div>

<div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Back to List</a>
</div>